<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="StatusCheck:TimeoutLimitInMilliseconds" value="10000"/>
    <add key="StatusCheck:PollIncrementInSeconds" value="15"/>
    <add key="ConnectionString:TestConnectionString" value="Server=TestServer;Database=TestDatabase;User Id=TestUser;Password=password;"/>
  </appSettings>
</configuration>